{
 :paths ["src" "resources"]

 :deps {
        ;; clojure
        org.clojure/clojure    {:mvn/version "1.11.1"}
        org.clojure/core.async {:mvn/version "1.5.648"}
        com.taoensso/timbre    {:mvn/version "5.2.1"}

        ;; system management
        integrant/integrant {:mvn/version "0.8.0"}

        ;; db
        com.github.seancorfield/next.jdbc {:mvn/version "1.2.999-SNAPSHOT"}
        org.xerial/sqlite-jdbc            {:mvn/version "3.36.0.3"}
        honeysql/honeysql                 {:mvn/version "1.0.461"}

        ;; http client
        ring/ring-core          {:mvn/version "1.9.5"}
        ring/ring-jetty-adapter {:mvn/version "1.9.5"}

        ;; security
        buddy/buddy-auth    {:mvn/version "3.0.323"}
        buddy/buddy-hashers {:mvn/version "1.8.158"}

        ;; routing
        metosin/reitit            {:mvn/version "0.5.18"}
        metosin/reitit-ring       {:mvn/version "0.5.18"}
        metosin/reitit-middleware {:mvn/version "0.5.18"}
        metosin/malli             {:mvn/version "0.8.4"}
        tick/tick                 {:mvn/version "0.5.0-RC5"}

        ;;utilities
        clj-jgit/clj-jgit {:mvn/version "1.0.2"}
        cheshire/cheshire {:mvn/version "5.10.2"}}

 :aliases
 {
  :dev
  {:extra-paths ["dev"]
   :extra-deps  {integrant/repl    {:mvn/version "0.3.2"}
                 faker/faker       {:mvn/version "0.3.2"}
                 clj-http/clj-http {:mvn/version "3.12.3"}}}
  :run-x
  {:exec-fn pyyp.lab-jounal.system/main}
  :build
  {:deps       {io.github.seancorfield/build-clj
                {:git/tag   "v0.8.0" :git/sha "9bd8b8a"
                 ;; since we're building an app uberjar, we do not
                 ;; need deps-deploy for clojars.org deployment:
                 :deps/root "slim"}}
   :ns-default build}
  :frontend
  {:extra-deps {org.clojure/clojurescript {:mvn/version "1.11.4"}
                thheller/shadow-cljs      {:mvn/version "2.18.0"}
                reagent/reagent           {:mvn/version "1.1.1"}
                re-frame/re-frame         {:mvn/version "1.2.0"}
                binaryage/devtools        {:mvn/version "1.0.6"}}}
  :test
  {:extra-paths ["test"]
   :main-opts   ["-m" "kaocha.runner"]
   :extra-deps  {org.clojure/test.check {:mvn/version "1.1.1"}
                 ring/ring-mock         {:mvn/version "0.4.0"}
                 lambdaisland/kaocha    {:mvn/version "1.66.1034"}}}}}
